// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#slide-1 {
  background-image: url('../assets/space_invasion.jpg');
}

#slide-4 {
  background-color: #EEE;
  color: #111;
}
