<footer class="footer">
  <nav>
    <ul>
    <small>
      <li><a href="http://github.com/matehckers/imbromate/">mm.redirectTo('Código Fonte')</a></li>
      <li><a href="http://matehackers.org">mm.redirectTo('matehackers.org')</a></li>
      <li><a href="http://news.railstutorial.org/">mm.redirectTo('Rails Tutorial =D')</a></li>
    </small>
    </ul>
  </nav>
</footer>