<% if user_signed_in? %>
  <%= render 'layouts/links_logado' %>
<% else %>
<li data-slide="5" class="col-12 col-sm-2"><a id="menu-link-5" href="#slide-5" title="Next Section"><span class="icon icon-user"></span> <span class="text">LOG IN</span></a></li>
<% end %>
